body {
    font-family: 'Arial', sans-serif;
    background-color: #f8f9fa;
}

.navbar {
    background-color: #d2691e !important; /* Color marrón para pastelería */
}

.carousel-item img {
    height: 500px;
    object-fit: cover;
}

.product-card {
    transition: transform 0.3s;
}

.product-card:hover {
    transform: scale(1.05);
}

footer {
    background-color: #343a40;
    color: white;
}